@import 'scss/normalize.scss';

// === Mixins ===
@mixin font-PT {
    font-family: 'PT Sans', sans-serif; // основной шрифт
}

@mixin font-playfair {
    font-family: 'Playfair Display', serif; // дополнительный шрифт
}
// === / Mixins ===

// === Variables ===
$color-main: #000;
$color-additional: #1F1F1F;
$color-headFoot: #969696;
$color-item-bg: #191B1C;

$color-white: #fff;

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;

$screen-sm-max: 767px;
$screen-md-max: 991px;
$screen-lg-max: 1199px;

// === / Variables ===

// === Common ===
* {
    box-sizing: border-box;
}

html, body {
    @include font-PT;
    
}

.section-outer { // внешний блок 
    min-width: 280px;
    padding-left: 20px;
    padding-right: 20px;
}
.section-inner { // внутренний блок
    max-width: 1110px;
    margin: 0 auto;    
}

.section-outer-no-padding { // внешний блок 
    min-width: 280px;
}
.section-inner-no-padding { // внутренний блок
    max-width: 1920px;
    margin: 0 auto;    
}

a {
    text-decoration: none;
    color: $color-white;
}

p {
    text-align: center;
    color: $color-white;
}

h2 {
    @include font-playfair;

    color: $color-white;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;

}

h3 {
    @include font-playfair;

    color: $color-white;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
}

.bg {
    background-color: $color-item-bg;
    
    .picture {
        margin-top: 55px;
        margin-bottom: 23px;
    }
}

.price {
    @include font-playfair;

    color: $color-white;
    font-size: 16px;
}

.btn {
    width: 138px;
    border: 1px solid $color-white;
    background-color: transparent;
    padding: 12px 28px;
    cursor: pointer;
    color: $color-white;
    font-size: 18px;
    text-transform: uppercase;
}

.linear {
    width: 120px;
    margin: 0 auto 30px auto;
    border: 1px solid $color-white;
}

.element {
    color: $color-white;
    padding: 10px 20px;
    background-color: $color-main;
}
// === / Common ===

.section-header-topper {
    background-color: $color-main;

    &-top-line {
        display: flex;
        justify-content: space-between;
        color: $color-headFoot;
        font-size: 12px;

        &__left {
            display: flex;
            p {
                color: $color-headFoot;
                margin: 14px 0 14px 15px;
            }
        }
        &__right {
            a {
                display: flex;
                color: $color-headFoot;
                p {
                    color: $color-headFoot;
                    margin-left: 10px;
                }
                p:hover {
                    color: $color-white;
                    transition: .3s;
                }
            }
        }
    }
    @media (max-width: $screen-sm) {
        &-top-line {
            justify-content: center;
            &__left {
                display: none;
            }
        }
    }
}

.section-header-middle {
    background-color: $color-additional;
    
    &-second-line {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-nav {
            display: flex;
            &__menu {
                display: flex;
            }
            .hidden {
                display: none;  
            }
            a {
                display: block;
                padding: 31px 20px;
            }                
            a:hover {
                background-color: lighten($color-additional, 10%);
            }
        }

    }
    @media (max-width: $screen-sm-max) {
        &-second-line {
            &-nav {
                a {
                    padding: 31px 5px;
                }
            }
        }
    }
    @media (max-width: $screen-sm) {
        &-second-line {
            &-nav {
                .fixed {
                    display: none;
                }
                .hidden {
                    display: block;
                }
                .burger {
                    width: 32px;
                    height: 88px;
                    background: url('/img/burger-menu-white.svg') center no-repeat;
                    background-size: contain;
                    transition: .4s;
                    margin-right: 15px;
                }
                .burger_active {
                    background: url('/img/burger-close-white.svg') center no-repeat;
                    margin: 0 0 0 50px;
                }
                .burger_menu {
                    display: block;
                }
            }
            .burger_nav {
                .none {
                    display: none;
                }
            }

            &.burger_line {
                flex-direction: column;
            }
            &__logo {
                &.burger_logo {
                margin-top: 20px;
                margin-bottom: 20px;
                }
            }
        }
    }
}

.section-header-bottom {
    background: url('/img/header.jpg') 50% 50% no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 4px solid $color-white;
        width: 320px;
        margin: 0 auto;
        img {
            margin: 93px auto;
        }
    }
    p {
        text-transform: uppercase;
        line-height: 150%;
        width: 65%;
        margin: 0 auto;
        margin-top: 80px;
    }
    @media (max-width: $screen-sm) {
        &-content {
            width: 220px;
            img {
                margin: 33px auto;
            }
        }
        p {
            margin-top: 50px;
            font-size: 12px;
            max-width: 90%;
        }
    }
}

.section-new-collection {
    background-color: $color-main;

    &-content {
        display: flex;

        &-product {
            flex-basis: 55%;
            background-color: $color-main;

            &-items {
                h2 {
                    margin-top: 93px;
                }
                &-main {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 80px;
                    padding-right: 80px;
                    
                    
                    &-item {
                        
                        display: flex;
                        flex-direction: column;
                        .bg {
                            .picture:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }
                .linear {
                    margin-bottom: 50px;
                }
            }
        }

        &-catalog {
            flex-basis: 45%;
            background: url('/img/post_1.png') no-repeat;
            background-size: cover;
            &-collection {
                display: flex;
                flex-direction: column;
                align-items: center;
                h2 {
                    margin-top: 484px;
                    margin-bottom: 25px;
                }
                button {
                    margin-bottom: 100px;
                }
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        &-content {
            &-catalog {
                &-collection {
                    h2 {
                        font-size: 26px;
                    }
                }
            }
        }
    }
    @media (max-width: $screen-sm) {
        &-content {
            flex-direction: column;
            
            &-catalog {
                order: -1;
            }
        }
    }
    @media (max-width: $screen-xl) {
        &-content {
            &-product {
                &-items {
                    &-main {
                        padding-left: 20px;
                        padding-right: 20px;
                        flex-direction: column;
                        
                        align-items: center;
                        &-item {
                            margin-bottom: 20px;  
                        }
                    }
                }
            }
        }
    }
}

.section-old-collection {
    background-color: $color-main;
    &-content {
        display: flex;
        &-picture {
            flex-basis: 45%;
            background: url('/img/post_2.png') no-repeat;
            background-size: cover;
        }
        &-product {
            flex-basis: 55%;
            &-collection {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 100px;
                p {
                    width: 60%;
                    margin: 0 auto;
                    margin-bottom: 60px;
                }
                button {
                    width: 311px;
                    margin-bottom: 100px;
                }
            }
        }
    }
    @media (max-width: $screen-md) {
        &-content {
            flex-direction: column;
            &-picture {
                order: -1;
            }
            &-product {
                &-collection {
                    p {
                        width: 80%;
                        font-size: 12px;
                    }
                    button {
                        width: 240px;
                        font-size: 12px;
                    }
                } 
            }
        }
    }
}

.section-new-goods {
    background-color: $color-main;
    &-main {
        &-content {
            &-title {
                h2 {
                    margin-top: 0;
                    padding-top: 120px;
                }
                .linear {
                    margin-bottom: 80px;
                }
                @media (max-width: $screen-md) {
                    h2 {
                        font-size: 24px;
                        padding-top: 0;
                    }
                }
            }
            &-products {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding-bottom: 80px;

                &-item {
                    margin-bottom: 40px;
                    margin-left: 23px;
                    margin: 0 auto 40px 23px; 
                }
                &-item:nth-child(1) {
                    margin-left: 0;
                }
                &-item:nth-child(5) {
                    margin-left: 0;
                }

                @media (max-width: $screen-md) {
                    &-item {
                        margin: 10px auto 10px auto;
                    }
                    &-item:nth-child(1) {
                        margin: 10px auto 10px auto;
                    }
                    &-item:nth-child(5) {
                        margin: 10px auto 10px auto;
                    }
                }
            }
            @media (max-width: $screen-md) {
                &-products {
                    padding-bottom: 30px;
                }
            }
        }
    }
}

.section-brands {   
    background-color: $color-main;
    &-container {
        &-title {
            h2 {
                margin-top: 0;
            }
        }
        &-brand {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-bottom: 74px;
        }
        @media (max-width: $screen-md) {
            &-title {
                h2 {
                    font-size: 24px;
                }
            }
            &-brand {
                padding-bottom: 20px;
            }
        }
    }
}

.section-footer {  
    background: url('/img/support.png') 50% 50% no-repeat;
    background-size: cover;
    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 100px;

        h2 {
            font-size: 24px;
            font-weight: 400;
            text-align: left;
            margin-bottom: 40px;
            margin-top: 80px;
        }
        p {
            font-size: 14px;
            text-align: justify;
        }
        &-shop {
            flex-basis: 30%;
        }
        &-categories {
            flex-basis: 27%;
            display: flex;
            flex-direction: column;
            &-one {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
            }
            &-two {
                display: flex;
                justify-content: space-between;
                .element:last-child {
                    margin-right: 10px;
                }
            }
            @media (max-width: $screen-xl) {
                &-one {
                    .element {
                        padding: 5px 10px;
                    }
                }
                &-two {
                    .element {
                        padding: 5px 10px;
                    }
                }
            }


        }
        &-mail {
            flex-basis: 35%;
            p {
                margin-bottom: 37px;
            }
            input {
                opacity: 0.4;
                padding: 10px 10px; 
                width: 210px;
                border: none;
            }
            button {
                @include font-PT;

                text-transform: uppercase;
                padding: 11px 20px;
                color: $color-white;
                background-color: $color-main;
                border: none;
            }
            @media (max-width: $screen-xl) {
                input {
                    width: 180px
                }
            }
        }
        @media (max-width: $screen-md-max) {
            &-shop {
                flex-basis: 42%;
            }
            &-categories {
                flex-basis: 42%;
            }
            &-mail {
                flex-basis: 50%;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        &-content {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            &-categories {
                align-self: flex-start;
                &-one {
                    .element {
                        font-size: 11px;
                    }
                }
                &-two {
                    .element {
                        flex-basis: 45%;
                        font-size: 10px;
                    }
                }
            }
            &-mail {
                button {
                    width: 180px;
                }
            }
        }
    }
    
}

.section-coopyright {
    background-color: $color-main;
    &-main {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        &-coopy {
            p {
                color: $color-headFoot;
            }
        }
        &-author {
            p {
                
                text-decoration: underline;
                a {
                    color: $color-headFoot;
                }
            }
        }
    }
    @media (max-width: $screen-sm) {
        &-main {
            flex-direction: column;
            &-coopy {
                p {
                    margin-bottom: 5px;
                }
            }
        }
    }
}